<div class="page-header">
  <h3>Route #<%= @route.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Departure airport</dt>
      <dd><%= @route.departure_airport %></dd>

      <dt>Destination airport</dt>
      <dd><%= @route.destination_airport %></dd>

      <dt>Route name</dt>
      <dd><%= @route.route_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/routes" class="btn btn-primary">
        Back
      </a>
      <a href="/routes/<%= @route.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_route/<%= @route.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Route has many flights -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Flights
      </li>

      <% @route.flights.each do |flight| %>
        <li class="list-group-item">
          <a href="/flights/<%= flight.id %>">
            <%= flight.departure_airport %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/flights/<%= flight.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/flights/<%= flight.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_flight/<%= flight.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_flight" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for departure_airport -->
      <div class="form-group">
        <label for="departure_airport" class="control-label">
          Departure airport
        </label>

        <input type="text" id="departure_airport" name="departure_airport" placeholder="Departure airport" class="form-control" value="">
      </div>

      <!-- Label and input for destination_airport -->
      <div class="form-group">
        <label for="destination_airport" class="control-label">
          Destination airport
        </label>

        <input type="text" id="destination_airport" name="destination_airport" placeholder="Destination airport" class="form-control" value="">
      </div>

      <!-- Label and input for flight_name -->
      <div class="form-group">
        <label for="flight_name" class="control-label">
          Flight name
        </label>

        <input type="text" id="flight_name" name="flight_name" placeholder="Flight name" class="form-control" value="">
      </div>

      <!-- Label and input for airline_id -->
      <div class="form-group">
        <label for="airline_id" class="control-label">
          Airline
        </label>

        <%= select_tag(:airline_id, options_from_collection_for_select(Airline.all, :id, :airline_name), :class => "form-control") %>
      </div>

      <!-- Label and input for route_id -->
      <input type="hidden" name="route_id" value="<%= @route.id %>">

      <button class="btn btn-block btn-success">
        Create Flight
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
